.Gallery{
    text-align: center;

    h2:hover {
      color: #E0F7FF;
    }

    .moviesgallery {
      padding: 0 7% 0 7%;
    }

    .hover:hover {
      background-color: #E0F7FF;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .mybutton {
      background-color: #FFFBA7;
      margin-bottom: 5px;
      color: #4F2C26;
    }

    .mybutton:focus { 
      background-color: #E9AFA3;
      color:  white;
    }

    .mybutton:hover {
      background-color: #E0F7FF;
      color: #4F2C26;
    }
}
